* {
    font-family: 'poppins';
    /* font-family: 'arial'; */
}
/*
.toast {
    width: 20rem !important;
    top: 4rem;
}

.toast-success {
    background-color: #22c55e !important;
    color: white !important;
}

.toast-error {
    background-color: #ef4444 !important;
    color: white !important;
}

.toast-info {
    background-color: #3b82f6 !important;
    color: white !important;
}

.toast-warning {
    background-color: #eab308 !important;
    color: white !important;
} */

body.swal2-shown > [aria-hidden='true'] {
    transition: 0.1s filter;
    filter: blur(3px);
}
